@charset "utf-8";
<style>
div {
  background-image: url('../Images/pink.jpg');
}
</style>

.h1 { font-family: 'Playfair Display', serif;
}
.p{ font-family: 'Playfair Display', serif;
font-family: 'Bellota', cursive;
font-family: 'Indie Flower', cursive;}